
*config.json

.venv
.env


tone-detector/audio/*
!tone-detector/audio/.keep

tone-detector/logs/*
!tone-detector/logs/.keep
tone-detector/etc/*
!tone-detector/etc/.keep

trunk-recorder/capture/*
!trunk-recorder/capture/.keep
trunk-recorder/logs/*
!trunk-recorder/logs/.keep
trunk-recorder/unitfiles
rdio-scanner/data/*
!rdio-scanner/data/.keep
mosquitto/config/*
!mosquitto/config/.keep
mosquitto/data/*
!mosquitto/data/.keep
mosquitto/log/*
!mosquitto/log/.keep

node-red/*
!node-red/.keep
!node-red/flows.json
!node-red/package.json